<h1 class="search-title">Storehouses</h1>
<div class="main-container">
  <div class="cards-container">
    <% @storehouses.order("name ASC").each do |storehouse| %>
      <%= link_to storehouse_path(storehouse) do%>
        <div class="card-index">
          <div class="storehouse-name"><strong><%= storehouse.name %></strong></div>
          <div class="storehouse-addresse"><%= storehouse.address %></div>
          <div class="storehouse-capacity"><%= storehouse.capacity %>m&sup3;</div>
          <div class="storehouse-day-price"><%= storehouse.day_price %>€</div>
        </div>
      <% end %>

    <% end %>
  </div>
  <div id="map">

  </div>
</div>

<!-- Gmaps js: building the map -->
<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 52.5206, lng: 13.4098},
      scrollwheel: false,
      zoom: 8
    });
  }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Gmaps JavaScript -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhH93WHb1203Y_2uA2TFiiUKxKt-e--fY&callback=initMap">
</script>
