<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2 class="header-color">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, required: true, autofocus: true, placeholder: "John" %>
          <%= f.input :address, required: true, autofocus: true, placeholder: "10 rue du templier, Paris" %>
          <%= f.input :email, required: true, autofocus: true, placeholder: "John@gmail.com" %>
          <%= f.input :password, placeholder: "password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true, placeholder: "password" %>
          <%= f.input :picture %>
          <%= f.input :picture_cache, as: :hidden %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: " btn btn-primary" %>
          <%= link_to "Sign in",new_session_path(resource_name), class:"btn btn-primary" %>
          <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= link_to "<i id='fb-connect' class='fa fa-facebook-square fa-lg'></i> connect".html_safe, omniauth_authorize_path(resource_name, provider), class: "btn btn-primary"%>
                <% end -%>
        </div>
      <% end %>

    </div>
  </div>
</div>
